/* Login.css */
.loginPage {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
}
.login-container {
    align-items: center;
    border: none!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 552px;
}

.login-form {
    align-items: center;
    background: #f6f7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 69px 44px 27px;
    position: relative;
    width: 100%;
}
.formHeader {
    left: 35%;
    position: absolute;
    right: 0;
    top: -33px;
    font-size: 24px!important;
    padding: 12px 10px!important;
    border: none!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-weight: 700!important;
    height: auto!important;
    outline: none!important;
    background: #5c67ec!important;
    width: 143px;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #dddddd;
}

.login-button {
    border: none!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-weight: 700!important;
    height: auto!important;
    outline: none!important;
    width: 143px;
    background-color: #5c67ec !important;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 12px !important;
}

.login-button:hover {
    background-color: #4a54d1;
}
.signup-link {
    margin-top: 15px;
    text-align: center;
}
.signup-link a {
    color: #5c67ec;
    text-decoration: none; /* Optional: removes underline */
}
.signup-link a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}