/* SignUp.css */
.SignupPage {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
}
.signup-container {
    align-items: center;
    border: none!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 552px;
    position: relative;
}
.signup-form {
    align-items: center;
    background: #f6f7fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 69px 44px 27px;
    position: relative;
    width: 100%;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.formHeader {
    left: 35%;
    position: absolute;
    right: 0;
    z-index: 10;
    top: -33px;
    font-size: 24px!important;
    padding: 12px 10px!important;
    border: none!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-weight: 700!important;
    height: auto!important;
    outline: none!important;

    width: 143px;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100% !important;
    padding: 12px !important;
    border-radius: 5px !important;
    margin-bottom: 16px !important;
    border: 1px solid #dddddd !important;
}

.signup-button {
    border: none!important;
    border-radius: 5px!important;
    color: #fff!important;
    font-weight: 700!important;
    height: auto!important;
    outline: none!important;
    width: 143px;
    background-color: #40e0d0 !important;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 12px !important;
}

.signup-button:hover {
    background-color: #4a54d1;
}
.error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}