
.card-slider {
    max-width: 1200px; /* Adjust the width as necessary */
    margin: 0 auto; /* Center the slider */
}

.card-grid .slick-list {
    margin: 0 -10px; /* Adjust the spacing between cards */
}

.card {
    background-color: #40e0d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
    display: block; /* Treat the link as a block for full-card clickability */
    text-decoration: none; /* Remove link underlines */
    color: inherit; /* Ensure text color is consistent */
    padding: 0 10px; /* Adjust spacing between cards */
}

.card:hover {
    transform: translateY(-5px); /* Slightly raise the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow for lifted effect */
}

.card img {
    width: 100%; /* Ensures the image covers the width of the card */
    height: 200px; /* Fixed height for the images */
    object-fit: cover; /* Covers the area without distorting aspect ratio, may crop the image */
    border-top-left-radius: 8px; /* Rounded corners for the top of the image */
    border-top-right-radius: 8px;
}

.card-info {
    background: white; /* Background of the card info */
    padding: 15px; /* Space inside the card info */
    border-bottom-left-radius: 8px; /* Rounded corners for the bottom of the card */
    border-bottom-right-radius: 8px;
    text-align: center; /* Center the text inside the card */
}

/* Custom arrow styles */
.slick-prev,
.slick-next {
    font-size: 30px; /* Arrow size */
    line-height: 1;
    color: #333; /* Arrow color */
    opacity: 0.50; /* Arrow opacity */
    z-index: 1; /* Ensure arrows are above other elements */
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1; /* Full opacity on hover */
}

.slick-prev {
    left: -35px; /* Adjust distance from the left edge */
}

.slick-next {
    right: -35px; /* Adjust distance from the right edge */
}

/* Adjusting the dots at the bottom of the slider */
.slick-dots {
    bottom: -30px; /* Adjust the position of the dots */
}

.slick-dots li button:before {
    font-size: 12px; /* Size of the dots */
    color: #333; /* Color of the dots */
}

.slick-dots li.slick-active button:before {
    color: #40e0d0; /* Color of the active dot, matching the card background */
}

/* Responsive adjustments */
@media (max-width: 960px) {
    .slick-prev:before, .slick-next:before {
        content: ""; /* Hide the default arrow */
        display: inline-block;
        width: 20px; /* Width of your arrow image */
        height: 20px; /* Height of your arrow image */

        background-size: cover;
    }



    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
